*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --nVibrante: #FFA500;
    --nBrillante: #FF8C00;
    --nDorado: #FFD700;
    --nCoral: #FF6347;
    --nrosa: #FFB6C1;
    --gOscuro: #333333;
    --gMedio: #999999;
    --gClaro: #CCCCCC;
    --blanco: #e4e4e4;
    --negro: #000000;
    --titulo: 2rem;
    --subtitulo: 1.8rem;
    --shadow: 0.1rem 0.1rem 1rem #33333369;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    color: var(--gOscuro);
    height: 100vh;
    
}

/*************************HEADER*************************/

header{
    width: 100%;
    min-height: 8rem;
    padding: 1rem;
    background-color: var(--blanco);
    box-shadow: var(--shadow);
}

.navbar{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    min-width: 30rem;
}

/***LOGO***/

.navbar_logoContainer{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 12rem;
    border-bottom: solid 0.1rem var(--nVibrante);
    border-top: solid 0.1rem var(--nVibrante);
}

.navbar_logoContainer a {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.navbar_logoContainer_logo{
    width: 80%;
    padding: 0.2rem;
}

.navbar_logoContainer_eslogan{
    font-weight: 300;
}

#navbar_logoSmall {
    display: none;
    border: none;
    width: 20%;
    margin-bottom: 2rem;
}

/***NAV ITEMS***/

.navbar_items{
    display: flex;
    flex-flow: row wrap;
    align-content: space-evenly;
}

.navbar_items li{
    list-style: none;
    padding: 2rem;
    
}

.navbar_item{
    text-decoration: none;
    color: var(--gOscuro);
    font-weight: 500;
}

.navbar_item:hover{
    color: var(--nCoral);
    transition: 0.5s;
}

.navbar_item:active{
    color: var(--nBrillante);
    font-weight: 300;
    transition: 0.5s ease-in-out;
}

.navbar_item-active{
    color: var(--nVibrante);
    animation: item-active 8s infinite 2s ease-in-out;
}

@keyframes item-active {
    50% {
        color: var(--nBrillante);
    }

    75% {
        color: var(--nCoral);
    }
    100%{
        color: var(--nVibrante);
    }
}

/***NAV BUTTONS***/
.navbar_buttons {
    display: flex;
    flex-flow: row wrap;
    align-content: space-evenly;
}

.navbar_button{
    text-decoration: none;
    font-weight: 500;
    padding: 0.8rem;
    border-radius: 1.2rem;
    color: var(--gOscuro);
    margin: 0 1rem;
    box-shadow: var(--shadow);
}

.navbar_button-login{
    background-color: var(--nVibrante);
}

.navbar_button-register{
    border: solid 0.1rem var(--nVibrante);
}

.navbar_button:hover {
    background-color: var(--nCoral);
    transition: 0.5s ease-in-out;
}

.navbar_button-register:hover{
    border: none;
}

/***NAVBAR TOGLE***/
.navbar_toggle{
    display: none;
}

.navbar_toggle_close{
    position: absolute;
    display: none;
    top: 0;
    right:23%;
    margin: 0;
    padding: 0;
}

.navbar_toggle_close svg{
    margin: 0;
    padding: 0;
    width: 1.5rem;
}

/***DIVISOR***/
.divisor{
    height: 0.2rem;
    background: rgb(255,215,0);
    background: linear-gradient(90deg, rgba(255,215,0,1) 0%, rgba(255,140,0,1) 35%, rgba(255,99,71,1) 100%);
    animation: divisor-animation 20s infinite ease-in-out;
}

@keyframes divisor-animation{
    25%{
        background: rgb(255,99,71);
        background: linear-gradient(90deg, rgba(255,99,71,1) 0%, rgba(255,140,0,1) 35%, rgba(255,215,0,1) 100%);
    }
    50%{
        background: rgb(255,99,71);
        background: linear-gradient(90deg, rgba(255,99,71,1) 0%, rgba(255,215,0,1) 35%, rgba(255,140,0,1) 100%);
    }
    75%{
        background: rgb(255,215,0);
        background: linear-gradient(90deg, rgba(255,215,0,1) 0%, rgba(255,99,71,1) 35%, rgba(255,140,0,1) 100%);
    }
    100%{
        background: rgb(255,215,0);
        background: linear-gradient(90deg, rgba(255,215,0,1) 0%, rgba(255,140,0,1) 35%, rgba(255,99,71,1) 100%);
    } 
}

/***FOOTER***/

@keyframes footer-animation {
    
    20%{
        background: rgb(255,140,0);
        background: linear-gradient(90deg, rgba(255,140,0,1) 0%, rgba(255,165,0,1) 41%, rgba(255,99,71,1) 100%);
    }

    30%{
        background: rgb(255,140,0);
        background: linear-gradient(90deg, rgba(255,140,0,1) 0%, rgba(255,165,0,1) 52%, rgba(255,99,71,1) 100%);
    }

    40%{
        background: rgb(255,140,0);
        background: linear-gradient(90deg, rgba(255,140,0,1) 0%, rgba(255,165,0,1) 67%, rgba(255,99,71,1) 100%);
    }

    50%{
        background: rgb(255,140,0);
        background: linear-gradient(90deg, rgba(255,140,0,1) 0%, rgba(255,165,0,1) 79%, rgba(255,99,71,1) 100%);

    }


    60%{
        background: rgb(255,140,0);
        background: linear-gradient(90deg, rgba(255,140,0,1) 0%, rgba(255,165,0,1) 89%, rgba(255,99,71,1) 100%);
    }  


    70%{
        background: rgb(255,140,0);
        background: linear-gradient(90deg, rgba(255,140,0,1) 0%, rgba(255,165,0,1) 77%, rgba(255,99,71,1) 100%);
    }

    80%{
        background: rgb(255,140,0);
        background: linear-gradient(90deg, rgba(255,140,0,1) 0%, rgba(255,165,0,1) 63%, rgba(255,99,71,1) 100%);
    }

    90%{
        background: rgb(255,140,0);
        background: linear-gradient(90deg, rgba(255,140,0,1) 0%, rgba(255,165,0,1) 38%, rgba(255,99,71,1) 100%);
    }

    100%{
        background: rgb(255,140,0);
        background: linear-gradient(90deg, rgba(255,140,0,1) 0%, rgba(255,165,0,1) 22%, rgba(255,99,71,1) 100%);
    }

}

.footer{
    width: 100%;
    background: rgb(255,140,0);
    background: linear-gradient(90deg, rgba(255,140,0,1) 0%, rgba(255,165,0,1) 14%, rgba(255,99,71,1) 100%);
    display: flex;
    flex-flow: row wrap;
    padding: 1rem;
    justify-content:space-around;
    align-items: center;
    filter: drop-shadow(var(--shadow));
    animation: footer-animation 20s infinite ease-in-out;
}

.footer h2{
    font-size: 1.7rem;
    margin: 1rem;
}

.footersocialmedia{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 50%;
}

.footersocialmedia_item_link{
    text-decoration: none;
    color: var(--gOscuro);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 1rem;
}

.footersocialmedia_item_link:hover{
    font-weight: 600;
}

.footersocialmedia_item_link:active{
    color: var(--nBrillante);
    font-weight: 300;
}

.footersocialmedia_item_logo{
    width: 5rem;
    filter: drop-shadow(var(--shadow));
    margin-right: 1rem;
}

.footersocialmedia_item_logo:hover{
    width: 5.1rem;
}

.footerinfo{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 30%;
}

.footerinfo_item{
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
}

.footerinfo_item_title{
    font-weight: 700;
}

/***RESPONSIVENESS***/
@media screen and (max-width: 769px) {
    header{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .navbar{
        justify-content: space-between;
        padding: 0 3rem;
        flex-flow: row;
    }

    .navbar_items{
        display: none;
    }
    
    .navbar_buttons{
        display: none;
    }

    /***LOGO***/
    .navbar_logoContainer{
        border: none;
        padding: 0;
        width: 40%;
    }
    
    .navbar_logoContainer_eslogan{
        display: none;
    }

    /***MENU TOGLE****/

    .navbar_toggle_open{
        width: 3rem;
        display: block;
    }

    .navbar_toggle_close{
        width: 3rem;
    }

    .navbar_toggle_open:hover, .navbar_toggle_close:hover{
        width: 3.4rem;
        cursor: pointer;
        transition: 0.2s ease-in-out;
    }

    .navbar_toggle_open:active, .navbar_toggle_close:active{
        width: 3.2rem;
        cursor: pointer;
        transition: 0.2s ease-in-out;
    }

    .footer{
        flex-flow: column wrap;
        padding: 1rem;
        align-items: center;
        justify-content: flex-start;
    }

    .footersocialmedia{
        display: flex;
        flex-flow: row wrap;
        width: 90%;
    }
    .footerinfo{
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
        width: 90%;
    }
    .footer h2{
        font-size: 1.7rem;
        margin: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 1rem;
    }
    

}